<h3 align="center">3M Land-It Prototype</h3>
<div align="center">
<p>
    <a href="https://www.line-us.com/">
        <img src="/images/line-us-photo.jpg" alt="Photograph of the Line-Us Pen Robot" style="width:300px;height:200px;"/>
    </a>
</p>

<canvas id="myCanvas" width="308" height="666" style="background-image: url('/images/notepaper-background.png'); background-size: contain;">
</canvas>
</div>